Amostragem Estratificada

In [50]:
import pandas

In [51]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
b = ["A", "A", "A", "A", "B", "B", "C", "C", "C", "D", "D", "D"]

df = pandas.DataFrame({"grupo": b, "values": a})

df

   grupo  values
0      A       1
1      A       2
2      A       3
3      A       4
4      B       5
5      B       6
6      C       7
7      C       8
8      C       9
9      D      10
10     D      11
11     D      12

In [52]:
def amostra_estratificada_1(df, n, estrato):
    amostra = df.groupby(estrato, group_keys=False).apply(
        lambda x: x[df.columns].sample(min(len(x), n)),
        include_groups=False
    )

    return amostra

In [53]:
amostra_estratificada_1(df, 2, 'grupo')

C:\Users\lucas.lobao\AppData\Local\Temp\ipykernel_13760\2754495758.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra = df.groupby(estrato, group_keys=False).apply(

   grupo  values
3      A       4
0      A       1
5      B       6
4      B       5
7      C       8
8      C       9
9      D      10
11     D      12

In [54]:
amostra_estratificada_1(df, 2, 'grupo')

C:\Users\lucas.lobao\AppData\Local\Temp\ipykernel_13760\2754495758.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra = df.groupby(estrato, group_keys=False).apply(

   grupo  values
0      A       1
2      A       3
4      B       5
5      B       6
8      C       9
7      C       8
9      D      10
11     D      12